
@{
    ViewData["Title"] = "AddPassswordConfirmation";
}
<h3>
    You have successfully set a local password. You can now use either
    your local user account or an external account to login
</h3>
