
@{
    ViewData["Title"] = "AccessDenied";
}
    <div class="text-center">
        <h1 class="text-danger">AccessDenied</h1>
        <h6 class="text-danger">You do not have access to this resource</h6>
    </div>
