@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Http.Extensions
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Options

@inject IViewLocalizer Localizer
@inject IOptions<RequestLocalizationOptions> LocOptions

@{
    // получаем сервис IRequestCultureFeature
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
    // получаем список поддерживаемых культур
    var cultureItems = LocOptions.Value.SupportedUICultures
        .Select(c => new SelectListItem { Value = c.Name, Text = c.DisplayName })
        .ToList();
}

<form asp-controller="Home" asp-action="SetLanguage" style="margin:8px;"
      asp-route-returnUrl="@Context.Request.Path"
      method="post" class="text-info">
    Выберите язык : <select name="culture" onchange="this.form.submit();"
                            asp-for="@requestCulture.RequestCulture.UICulture.Name"
                            asp-items="cultureItems"></select>
</form>

